In [1]:
import pandas as pd
import re

# Load the CSV file
file_path = 'F2021.csv'
df = pd.read_csv(file_path)

# Function to convert time format
def convert_time_format(time_str):
    # Convert times like '11:00a' to '11:00AM' and '12:00p' to '12:00PM'
    def convert(match):
        time, period = match.groups()
        period = period.upper() + 'M'
        return f"{time}{period}"
    
    return re.sub(r'(\d{1,2}:\d{2})([ap])', convert, time_str)

# Function to convert day format
def convert_days(day_str):
    # Convert 'Th' to 'R' and 'SSu' to 'SU'
    day_str = day_str.replace('Th', 'R')
    day_str = day_str.replace('SSu', 'SU')
    return day_str

# Apply the conversion function to the 'Day and Time' column
df['Day and Time'] = df['Day and Time'].apply(convert_time_format)
df['Day and Time'] = df['Day and Time'].apply(convert_days)

# Save the modified CSV file
output_file_path = 'F2021_reformatted.csv'
df.to_csv(output_file_path, index=False)

df.head()

,Course Code,Course Title,Session,Instructor,Cr Hrs,Day and Time
0,ACCT 100 LEC 1,Principles of Financial Accounting,16W,Syed Zain ul Abidin,3.0,TR 11:00AM-12:15PM
1,ACCT 100 LEC 2,Principles of Financial Accounting,16W,Syed Zain ul Abidin,3.0,TR 12:30PM-1:45PM
2,ACCT 100 LEC 3,Principles of Financial Accounting,16W,Syed Zain ul Abidin,3.0,TR 2:00PM-3:15PM
3,ACCT 100 LEC 4,Principles of Financial Accounting,16W,Zainab Mehmood,3.0,TR 3:30PM-4:45PM
4,ACCT 100 LEC 5,Principles of Financial Accounting,16W,Zainab Mehmood,3.0,TR 5:00PM-6:15PM